{% extends "layout.html" %}

{% block content %}
<div>
    <p class="desc">This project is a <span class="highlight">Flask-powered</span> <i>media and file automation
            toolkit</i>. It features a <span class="highlight">streamlined web interface</span> for <b>batch
            processing</b>, including media format <i>conversion</i> (Images, Audio, Video), advanced file
        <i>compression</i>, <i>batch renaming</i>, and a robust <i>downloader</i>, all designed to <span
            class="highlight">simplify repetitive file management tasks</span>.
    </p>
    <div class="social-media-icons">
        <a href="https://github.com/xkintaro/kintaro-tools" target="_blank" class="social-icon">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://discord.gg/NSQk27Zdkv" target="_blank" class="social-icon">
            <i class="fab fa-discord"></i>
        </a>
    </div>
</div>


{% endblock %}